<!-- THIS IS A HIDDEN INPUT ELEMENT FOR LOADING FILES INTO THE EDITOR, SHOULD'NT SHOW UP ON VIEW -->
<input style="display: none" type="file" accept=".txt, .js, .ts" (change)="loadFile($event)" #fileInput>
<!-- THIS IS A HIDDEN INPUT ELEMENT FOR LOADING FILES INTO THE EDITOR, SHOULD'NT SHOW UP ON VIEW -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [ngClass]="{hidden: (isHandset$ | async) === false}"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu:</mat-toolbar>
    <mat-nav-list>

      <div class="run-view-handset" *ngIf="!staticDebugger">
        <a mat-list-item (click)="run()">
          <mat-icon aria-hidden="false">play_arrow</mat-icon>
          Run </a>
        <a mat-list-item (click)="stopRun()">
          <mat-icon aria-hidden="false">stop</mat-icon>
          Stop </a>
        <a mat-list-item (click)="debug()">
          <mat-icon aria-hidden="false">bug_report</mat-icon>
          Debug </a>
        <a mat-list-item (click)="beautify()">
          <mat-icon aria-hidden="false">code</mat-icon>
          Beautify </a>
        <a mat-list-item (click)="fileInput.click()">
          <mat-icon aria-hidden="false">publish</mat-icon>
          Load File </a>
        <a mat-list-item (click)="downloadFile()">
          <mat-icon aria-hidden="false">get_app</mat-icon>
          Download File </a>
      </div>

      <div class="run-view-handset" *ngIf="staticDebugger">
        <a mat-list-item (click)="stopDebug()">
          <mat-icon aria-hidden="false">stop</mat-icon>
          Stop </a>
        <a mat-list-item (click)="nextStep()">
          <mat-icon aria-hidden="false">skip_next</mat-icon>
          Next Step </a>
        <a mat-list-item (click)="previousStep()">
          <mat-icon aria-hidden="false">skip_previous</mat-icon>
          Previous Step </a>
        <a mat-list-item (click)="nextBreakPoint()">
          <mat-icon aria-hidden="false">fast_forward</mat-icon>
          Next Breakpoint </a>
        <a mat-list-item (click)="previousBreakPoint()">
          <mat-icon aria-hidden="false">fast_rewind</mat-icon>
          Previous Breakpoint </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/bpjs_logo1.ico" alt="logo" class="logo">
      <div class="spacer"></div>
      <div class="run-view" *ngIf="!staticDebugger">
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" (click)="run()">
          <mat-icon aria-hidden="false">play_arrow</mat-icon>
          Run </a>
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" (click)="stopRun()">
          <mat-icon aria-hidden="false">stop</mat-icon>
          Stop </a>
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" (click)="debug()">
          <mat-icon aria-hidden="false">bug_report</mat-icon>
          Debug </a>
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" (click)="beautify()">
          <mat-icon aria-hidden="false">code</mat-icon>
          Beautify </a>
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" (click)="fileInput.click()">
          <mat-icon aria-hidden="false">publish</mat-icon>
          Load File </a>
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" (click)="downloadFile()">
          <mat-icon aria-hidden="false">get_app</mat-icon>
          Download File </a>
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" [matMenuTriggerFor]="themeMenu">
          <mat-icon aria-hidden="false">colorize</mat-icon>
          Theme </a>
        <mat-menu #themeMenu="matMenu" xPosition="before">
          <a mat-menu-item class="divider">BRIGHT:</a>
          <a mat-menu-item (click)="theme(0)">GitHub</a>
          <a mat-menu-item (click)="theme(1)">Eclipse</a>
          <a mat-menu-item (click)="theme(2)">SQL Server</a>
          <a mat-menu-item class="divider">DARK:</a>
          <a mat-menu-item (click)="theme(3)">Twilight (default)</a>
          <a mat-menu-item (click)="theme(4)">Vibrant Ink</a>
          <a mat-menu-item (click)="theme(5)">Ambiance</a>
          <a mat-menu-item (click)="theme(6)">Merbivore</a>
          <a mat-menu-item (click)="theme(7)">Cobalt</a>
        </mat-menu>
      </div>

      <div class="debug-view" *ngIf="staticDebugger">
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" (click)="stopDebug()">
          <mat-icon aria-hidden="false">stop</mat-icon>
          Stop </a>
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" (click)="nextStep()">
          <mat-icon aria-hidden="false">skip_next</mat-icon>
          Next Step </a>
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" (click)="previousStep()">
          <mat-icon aria-hidden="false">skip_previous</mat-icon>
          Previous Step </a>
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" (click)="nextBreakPoint()">
          <mat-icon aria-hidden="false">fast_forward</mat-icon>
          Next Breakpoint </a>
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" (click)="previousBreakPoint()">
          <mat-icon aria-hidden="false">fast_rewind</mat-icon>
          Previous Breakpoint </a>
        <a mat-raised-button [ngClass]="{hidden: (isHandset$ | async)}" [matMenuTriggerFor]="themeMenu">
          <mat-icon aria-hidden="false">colorize</mat-icon>
          Theme </a>
        <mat-menu #themeMenu="matMenu" xPosition="before">
          <a mat-menu-item class="divider">BRIGHT:</a>
          <a mat-menu-item (click)="theme(0)">GitHub</a>
          <a mat-menu-item (click)="theme(1)">Eclipse</a>
          <a mat-menu-item (click)="theme(2)">SQL Server</a>
          <a mat-menu-item class="divider">DARK:</a>
          <a mat-menu-item (click)="theme(3)">Twilight (default)</a>
          <a mat-menu-item (click)="theme(4)">Vibrant Ink</a>
          <a mat-menu-item (click)="theme(5)">Ambiance</a>
          <a mat-menu-item (click)="theme(6)">Merbivore</a>
          <a mat-menu-item (click)="theme(7)">Cobalt</a>
        </mat-menu>
      </div>

    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
