<header class="header headerColor">
  <div class="branding">
    <img src="../../favicon.ico" class="nav-link nav-text" alt="logo">
  </div>

  <div class="header-nav" >
    <a *ngIf="!staticDebugger" (click)="runCode()" class="nav-link nav-text">▶ RUN</a>
    <a *ngIf="!staticDebugger" (click)="beautifyContent()" class="nav-link nav-text">⦃ ⦄ BEAUTIFY</a>
    <a *ngIf="!staticDebugger" (click)="clearContent()" class="nav-link nav-text">✖ CLEAR</a>
    <a *ngIf="!staticDebugger" (click)="undoContent()" class="nav-link nav-text">↩ UNDO</a>
    <input style="display: none" type="file" accept=".txt, .js, .ts" (change)="loadFile($event)" #fileInput>
    <a *ngIf="!staticDebugger" (click)="fileInput.click()" class="nav-link nav-text">📥 LOAD FILE</a>
    <a *ngIf="!staticDebugger" (click)="downloadFile()" class="nav-link nav-text">📤 DOWNLOAD FILE</a>
    <a *ngIf="!staticDebugger" (click)="debuggerMode()" class="nav-link nav-text">🐞 DEBUG</a>
    <a *ngIf="staticDebugger" (click)="closeDebuggerMode()" class="nav-link nav-text">🛑 STOP</a>
    <a *ngIf="staticDebugger" (click)="nextStep()" class="nav-link nav-text">⏬ NEXT STEP</a>
    <a *ngIf="staticDebugger" (click)="previousStep()" class="nav-link nav-text">⏫ PREVIOUS STEP </a>
    <a *ngIf="staticDebugger" (click)="nextBreakPoint()" class="nav-link nav-text">⏩ NEXT BREAKPOINT</a>
    <a *ngIf="staticDebugger" (click)="previousBreakPoint()" class="nav-link nav-text">⏪ PREVIOUS BREAKPOINT</a>
  </div>

  <div class="header-actions">
    <a href="javascript://" (click)="setting()" class="nav-link nav-icon" aria-label="settings">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>
</header>

<nav class="subnav">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink (click)="theme(1)">Black Theme</button>
    </clr-tab>
    <clr-tab>
      <button clrTabLink (click)="theme(2)">White Theme</button>
    </clr-tab>
    <clr-tab>
      <button clrTabLink (click)="theme(3)">Dark Theme</button>
    </clr-tab>
    <clr-tab>
      <button clrTabLink (click)="theme(4)">Solarized Light Theme</button>
    </clr-tab>
    <clr-tab>
      <button clrTabLink (click)="theme(5)">Terminal Theme</button>
    </clr-tab>
    <clr-tab>
      <button clrTabLink (click)="theme(6)">Ambiance Theme</button>
    </clr-tab>
  </clr-tabs>
</nav>
