.nav-text:active {
  transform: translateY(3px);
  color: rgb(0, 0, 0);
  float: left;
}

.nav-text:hover {
  background-color: #f6af41;
  color: rgb(0, 0, 0);
}

.headerColor{
  background-color: black;
}

::ng-deep .nav .nav-link.active, ::ng-deep .nav .nav-link:hover {
  box-shadow: 0 -3px 0 #000000 inset;
}
