.nav-link{
  pointer-events: none;
}

/*BThreads*/

div.list-container-variables{
  max-height: 500px;
  min-height: 500px;
  overflow: scroll;
  border: solid 0.1px #c2ccbf;
  outline: none;
}

#BThreads {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  outline: none;
}

#BThreads td, #BThreads th {
  border: 0.2px solid #c2ccbf;
  text-align: center;
  color: #000000;
}

#BThreads tr:nth-child(even){
  background-color: #f2f2f2;
}

#BThreads tr:hover {
  background-color: #01a0e4;
}

#BThreads th {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  background-color: #000000;
  border-bottom: solid 0.1px #c2ccbf;
  color: #01a0e4;
}

