<section class="sidenav-content">
<!--  <ng-template >-->
    <clr-tabs>
      <clr-tab class="nav-link">
        <button clrTabLink>BThreads</button>
        <ng-template [(clrIfActive)]="Variables">
          <clr-tab-content class="bptab">
            <div class="list-container-variables">
              <table id="Lvariables">
                <tr>
                  <th width="50%">Variable</th>
                  <th width="50%">Value</th>
                </tr>
                <tr *ngFor="let ent of Lvariables | keyvalue">
                  <td width="50%">{{ent.key}}</td>
                  <td width="50%">{{ent.value}}</td>
                </tr>
              </table>
            </div>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
    </clr-tabs>
<!--  </ng-template>-->
</section>
