<div class="output-container">
  <mat-tab-group id="tab-group">
    <mat-tab label="Output">
      <ng-template matTabContent>
        <textarea id="run_textarea" class="output" disabled>{{output}}</textarea>
      </ng-template>
    </mat-tab>

    <mat-tab label="Local Variables" *ngIf="staticDebugger">
      <ng-template matTabContent>
        <div style="height: 100%; border: 1px solid #c2ccbf; width: 100%">
          <table id="localVariables">
            <tr>
              <th width="34%">BT Name</th>
              <th width="33%">Variable</th>
              <th width="33%">Value</th>
            </tr>
            <ng-container *ngFor="let bt of bthreads">
              <ng-container *ngIf="bthreadList.includes(bt.bThreadName)">
                <tr *ngFor="let lv of bt.localVariables | keyvalue">
                  <td width="34%">{{bt.bThreadName}}</td>
                  <td id="local-var-names" width="33%">{{lv.key}}</td>
                  <td id="local-var-values" width="33%">{{lv.value}}</td>
                </tr>
              </ng-container>
            </ng-container>
          </table>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Global Variables" *ngIf="staticDebugger">
      <ng-template matTabContent>
        <div style="height: 100%; border: 1px solid #c2ccbf; width: 100%">
          <table id="globalVariables">
            <tr>
              <th width="50%">Variable</th>
              <th width="50%">Value</th>
            </tr>
            <tr *ngFor="let gv of globalVariables | keyvalue">
              <td id="global-var-names" width="50%">{{gv.key}}</td>
              <td id="global-var-values" width="50%">{{gv.value}}</td>
            </tr>
          </table>
        </div>
      </ng-template>

    </mat-tab>
  </mat-tab-group>
</div>
