div.code-editor {
  margin-left: auto;
  width: 100%;
  padding: 5px;
}

.form-control {
  border-radius: 0 !important;
}

.form-control:disabled {
  background-color: rgba(10, 11, 10, 0.97) !important;
  width: 100%;
  margin-left: auto;
}

.output {
  border-bottom-left-radius: .5rem!important;
}

.outputStyle{
  color: #24fcf5;
  resize: none;
}
