<div class="row mb-4">
  <div class="col">
    <div class="code-editor" #codeEditor></div>
  </div>
</div>

<div
  class="label-box border"><span class="mx-4 font-weight-light">Output</span>
</div>

<textarea
  class="form-control" style="color: #24fcf5" rows="5" disabled="true" aria-label="output-textarea" [(ngModel)]="Output">
  </textarea>


<!--EXTERNAL EVENT-->
<div>
  <div class="label-box border"><span class="mx-4 font-weight-light">External Event</span>
  </div>

  <textarea class="external-event" style="color: #24fcf5" rows="3" [(ngModel)]="externalEvent">
  </textarea>
</div>
