.nav-link{
  pointer-events: none;
}

.section {
  height: 30%;
}

div.list-container-externalevent {
  overflow: auto;
  outline: none;
  padding: 3px;
}

button.addExEvButton {
  width: 50%;
  margin: auto;
  display: block;
  background-color: #000000;
  border-color: #000000;
  color: #01a0e4;
  font-weight: bold;
  border-bottom: black;
}

button.addExEvButton:hover {
  background-color: #01a0e4;
  border-color: #01a0e4;
  color: #000000;
}

div.list-container {
  min-height: 110px;
  padding-left: 15px;
  /*height: 105px;*/
  overflow: auto;
  border: solid 0.1px #c2ccbf;
  outline: none;
}

div.list-container-shortcuts{
  /*min-height: 140px;*/
  /*height: 140px;*/
  padding-left: 15px;
  overflow: auto;
  outline: none;
  line-height: 1.5;
  border-bottom: solid 0.1px #c2ccbf;
}

#shortcuts tr {
  color: black;
}

#shortcuts tr:hover {
  font-weight: bold;
}

div.list-container-sentences {
  padding-left: 15px;
  overflow: auto;
  outline: none;
  line-height: 1.5;
  border-bottom: solid 0.1px #c2ccbf;
}

/*#sentence tr {*/
/*  color: black;*/
/*}*/



#sentence tr, #sentence td{
  color: black;
  width: 100%;
}

#sentence tr:hover {
  background-color: lightgrey;
  color: black;
}

#events tr:hover {
  background-color: lightgrey;
  color: black;
}

.tooltip {
  /*position: relative;*/
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #01C0DD;
  text-align: center;
  border-radius: 3px;
  padding: 2px 0;

  top: -5px;
  left: 105%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
