
.html,
body {
  height: 100%;
  margin: auto;
}
.section {
  height: 30%;
}

div.list-container-externalevent{
  min-height: 120px;
  /*height: 120px;*/
  overflow: auto;
  outline: none;
  padding: 3px;
}

button.addExEvButton{
  width: 50%;
  margin:auto;
  display:block;
  background-color: #000000;
  border-color: #000000;
  color: #01a0e4;
  font-weight: bold;
  border-bottom: black;
}

button.addExEvButton:hover{
  background-color: #01a0e4;
  border-color: #01a0e4;
  color: #000000;
}

div.list-container{
  min-height: 110px;
  padding-left: 15px;
  /*height: 105px;*/
  overflow: auto;
  border: solid 0.1px #c2ccbf;
  outline: none;
}

div.list-container-sentences{
  min-height: 140px;
  /*height: 140px;*/
  padding-left: 15px;
  overflow: auto;
  outline: none;
  line-height: 2.5;
  border-bottom: solid 0.1px #c2ccbf;
}

#sentence tr{
  color: black;
}
#sentence tr:hover{
  background-color: #000000;
  color: #01C0DD;
  font-weight: bold;
}

#events tr:hover {
  background-color: #ddd;
}


/*Variables Section*/

div.list-container-variables{
  height: 115px;
  overflow: auto;
  border: solid 0.1px #c2ccbf;
  outline: none;
}

#Lvariables {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  outline: none;
}

#Lvariables td, #Lvariables th {
  border: 0.2px solid #c2ccbf;
  text-align: center;
  color: #000000;
}

#Lvariables tr:nth-child(even){
  background-color: #f2f2f2;
}

#Lvariables tr:hover {
  background-color: #01C0DD;
}

#Lvariables th {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  background-color: #000000;
  border-bottom: solid 0.1px #c2ccbf;
  color: #01C0DD;
}

/*!*Global Variables Section*!*/
/*div.list-container-variables{*/
/*  height: 115px;*/
/*  overflow: auto;*/
/*  border: solid 0.1px #c2ccbf;*/
/*  outline: none;*/
/*}*/

/*#Lvariables {*/
/*  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
/*  border-collapse: collapse;*/
/*  width: 100%;*/
/*  outline: none;*/
/*}*/

/*#Lvariables td, #Lvariables th {*/
/*  border: 0.2px solid #c2ccbf;*/
/*  text-align: center;*/
/*  color: #000000;*/
/*}*/

/*#Lvariables tr:nth-child(even){*/
/*  background-color: #f2f2f2;*/
/*}*/

/*#Lvariables tr:hover {*/
/*  background-color: #f6af41;*/
/*}*/

/*#Lvariables th {*/
/*  padding-top: 1px;*/
/*  padding-bottom: 1px;*/
/*  text-align: center;*/
/*  background-color: #000000;*/
/*  border-bottom: solid 0.1px #c2ccbf;*/
/*  color: #EC8C23;*/
/*}*/
