div.list-container-externalevent{
  height: 120px;
  overflow: auto;
  outline: none;
  padding: 3px;
}

button.addExEvButton{
  width: 50%;
  margin:auto;
  display:block;
  background-color: #000000;
  border-color: #000000;
  color: #EC8C23;
  font-weight: bold;
  border-bottom: black;
}

button.addExEvButton:hover{
  background-color: #ec8c23;
  border-color: #ec8c23;
  color: #000000;

}

div.list-container{
  padding-left: 15px;
  height: 138px;
  overflow: auto;
  border: solid 0.1px #c2ccbf;
  outline: none;
}

div.list-container-sentences{
  height: 140px;
  padding-left: 15px;
  overflow: auto;
  outline: none;
  line-height: 2.5;
  border-bottom: solid 0.1px #c2ccbf;
}

#sentence tr{
  color: black;
}
#sentence tr:hover{
  background-color: #000000;
  color: #EC8C23;
  font-weight: bold;
}

#events tr:hover {
  background-color: #ddd;
}


/*Variables Section*/

div.list-container-variables{
  height: 138px;
  overflow: auto;
  border: solid 0.1px #c2ccbf;
  outline: none;
}

#Lvariables {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  outline: none;
}

#Lvariables td, #Lvariables th {
  border: 0.2px solid #c2ccbf;
  text-align: center;
  color: #000000;
}

#Lvariables tr:nth-child(even){
  background-color: #f2f2f2;
}

#Lvariables tr:hover {
  background-color: #f6af41;
}

#Lvariables th {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  background-color: #000000;
  border-bottom: solid 0.1px #c2ccbf;
  color: #EC8C23;
}

/*Global Variables Section*/

#Gvariables {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  outline: none;
}

#Gvariables td, #Gvariables th {
  border: 0.2px solid #c2ccbf;
  text-align: center;
  color: #000000;
}

#Gvariables tr:nth-child(even){
  background-color: #f2f2f2;
}

#Gvariables tr:hover {
  background-color: #f6af41;
}

#Gvariables th {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  background-color: #000000;
  border-bottom: solid 0.1px #c2ccbf;
  color: #EC8C23;
}
