.rightSide{
  line-height: 1rem;
  max-width: 13rem;
  min-width: 9rem;
  width: 18%;
  border-left: 1px solid #ccc;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow-x: hidden;
}
