<clr-main-container>

  <app-header></app-header>

  <div class="content-container">

    <nav class="sidenav">
      <app-side style="overflow: auto;"></app-side>
    </nav>

    <div class="content-area">
      <as-split unit="percent" direction="vertical">
        <as-split-area size="60">
          <div style="height: 100%; width: 100%;">
            <app-code-editor></app-code-editor>
          </div>
        </as-split-area>
        <as-split-area size="40">
          <div style="height: 100%; width: 100%;">
            <app-output></app-output>
          </div>
        </as-split-area>
      </as-split>
    </div>

    <nav style="line-height: 1rem;
    max-width: 13rem;
    min-width: 9rem;
    width: 18%;
    border-left: 1px solid #ccc;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;" *ngIf="staticDebugger">
      <app-side-right></app-side-right>
    </nav>

  </div>

</clr-main-container>
