#editor {
  margin-left: auto;
  width: 100%;
  padding: 5px;
  resize: vertical;
}

.form-control {
  border-radius: 0 !important;
}

.form-control:disabled {
  background-color: rgba(10, 11, 10, 0.97) !important;
  width: 100%;
  margin-left: auto;
}

.outputStyle{
  color: #01a0e4;
  /*resize: none;*/
}
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 4px!important;
  /*padding: 3px!important;*/
  /*margin: 3px!important;*/
  color: black;
  height: 25px!important;
}

::ng-deep .mat-ink-bar {
  background-color: black !important;
}


#variables {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  outline: none;
  overflow: auto;
  table-layout: fixed;
}

#variables td, #variables th {
  border: 0.2px solid #c2ccbf;
  text-align: center;
  color: #000000;
  overflow: auto;
}

#variables tr:nth-child(even){
  background-color: #f2f2f2;
}

#variables tr:hover {
  background-color: #01a0e4;
}

#variables th {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  background-color: #000000;
  border-bottom: solid 0.1px #c2ccbf;
  color: #01a0e4;
}


