<div id="editor" style="height: 70%;"></div>

<mat-tab-group style="height: 40%">
  <mat-tab label="Output">
    <ng-template matTabContent>
      <div *ngIf="!staticDebugger">
      <textarea
        id="run_textarea"
        class="form-control outputStyle"
        rows="6"
        disabled
        aria-label="output-textarea">
        {{output}}
      </textarea>
      </div>
      <div *ngIf="staticDebugger">
      <textarea
        id="debug_textarea"
        class="form-control outputStyle"
        rows="6"
        disabled
        aria-label="output-textarea">
        {{outputDebug}}
      </textarea>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Variables" *ngIf="staticDebugger" >
    <ng-template matTabContent>
      <div style="height: 200px; border: 1px solid black;">
        <table id="variables">
          <tr>
            <th width="25%">BT Name</th>
            <th width="25%">Global\Local</th>
            <th width="25%">Variable</th>
            <th width="25%">Value</th>
          </tr>
          <ng-container *ngFor="let gv of globalVariables | keyvalue">
            <td width="25%">-</td>
            <td width="25%">Global</td>
            <td width="25%">{{gv.key}}</td>
            <td width="25%">{{gv.value}}</td>
          </ng-container>
          <tr *ngFor="let bt of bthreads">
            <ng-container *ngFor="let lv of bt.localVariables | keyvalue">
              <ng-container *ngIf="bthreadList.includes(bt.bThreadName)">
                <td width="25%">{{bt.bThreadName}}</td>
                <td width="25%">Local</td>
                <td width="25%">{{lv.key}}</td>
                <td width="25%">{{lv.value}}</td>
              </ng-container>
            </ng-container>
          </tr>
        </table>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>





