<div id="editor"></div>

<div class="label-box border">
  <span class="mx-4 font-weight-light">Output</span>
</div>

<div *ngIf="!staticDebugger">
<textarea
  class="form-control outputStyle"
  [scrollTop]="output_box_run.scrollHeight"
  rows="6"
  disabled
  aria-label="output-textarea" #output_box_run>
  {{output}}
  </textarea>
</div>

<div *ngIf="staticDebugger">
<textarea
  class="form-control outputStyle"
  [scrollTop]="output_box_debug.scrollHeight"
  rows="6"
  disabled
  aria-label="output-textarea" #output_box_debug>
  {{outputDebug}}
  </textarea>
</div>
