#editor {
  margin-left: auto;
  width: 100%;
  height: 70%;
  padding: 5px;
  resize: vertical;
}

.form-control {
  border-radius: 0 !important;
  width: 100%;
}

.form-control:disabled {
  background-color: rgba(10, 11, 10, 0.97) !important;
  width: 100%;
  margin-left: auto;
}

.outputStyle{
  color: #fd7104;
  box-sizing: border-box;
  width: 100%;
}
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 4px!important;
  /*padding: 3px!important;*/
  /*margin: 3px!important;*/
  color: black;
  height: 25px!important;
}

::ng-deep .mat-ink-bar {
  background-color:#fd7104 !important;}

/*localVariables*/

#localVariables {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  /*border: 1px solid black;*/
  border-collapse: collapse;
  width: 100%;
  outline: none;
  overflow: auto;
  table-layout: fixed;
}

#localVariables td, #localVariables th {
  border: 0.2px solid #c2ccbf;
  text-align: center;
  color: #000000;
  overflow: auto;
}

#localVariables tr:nth-child(even){
  background-color: #f2f2f2;
}

#localVariables tr:hover {
  background-color: #f6af41;
}

#localVariables th {
  /*padding-top: 1px;*/
  /*padding-bottom: 1px;*/
  text-align: center;
  background-color: #000000;
  border-bottom: solid 0.1px #c2ccbf;
  color: #EC8C23;
}

/*globalVariables*/

#globalVariables {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  /*border: 1px solid black;*/
  border-collapse: collapse;
  width: 100%;
  outline: none;
  overflow: auto;
  table-layout: fixed;
}

#globalVariables td, #globalVariables th {
  border: 0.2px solid #c2ccbf;
  text-align: center;
  color: #000000;
  overflow: auto;
}

#globalVariables tr:nth-child(even){
  background-color: #f2f2f2;
}

#globalVariables tr:hover {
  background-color: #f6af41;
}

#globalVariables th {
  /*padding-top: 1px;*/
  /*padding-bottom: 1px;*/
  text-align: center;
  background-color: #000000;
  border-bottom: solid 0.1px #c2ccbf;
  color: #EC8C23;
}

